*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}
body{
    background: #EEF2F4;
}

.container{
    max-width: 1280px;
    width: 100%;
    margin: 0px auto;
    padding: 0px 20px;
}
